#myLabels{
	display: none;
}

#myData{
	display: none;	
}

#conclusion{
	padding-top: 2em;
}

h1{
	padding-top: 0.5em;
	padding-bottom: 0.7em;
}

#chart{
	width: 600px; 
	height: 600px
}

body{
	text-align: center;
}

#calculation{
	font-size: 1.3em;
	color: #737373;
}

label{
	font-weight: bold;
	margin-right: 0.5em;
}